.container {
  width: 50%;
  background: #ccc;
  padding: 30px;
} 

body, html {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.all-text {
  background: white;
  padding: 20px;
  list-style: none;
  height: 50vh;
  overflow-y: scroll;
}

.btn {
  padding: 13px 20px;
  font-size: 19px;
}

.highlight {
  background-color: yellow;
}

.original {
  padding: 60px;
  line-height: 1.9;
}