body, html {
	margin: 0;
}
/* .viewport {
	height: 100vmin;
	width: 100%;
	overflow: hidden;
} */
.graphic {
	height: 50vh;
	/* width: 100%; */
}
svg {
	width: auto;
	height: 100vh;
	/* transform: rotate(90deg); */
}
.st2 {
	transition: stroke 1s ease;
}