* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.all-text {
  padding: 20px;
  list-style: none;
  height: 50vh;
  overflow-y: scroll;
}

.btn {
  padding: 13px 20px;
  font-size: 19px;
}

.highlight {
  background-color: yellow;
}

span {
  display: block;
}

ul.all-text div {
  margin: 3px 0;
  border: 1px solid #f00;
}